*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

#contentWrapper {
    height: 100%;
    background-color: aqua;
    margin: 64px 48px;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#contactsContainer {
    background-color: lightsalmon;
}